<?xml version="1.0"?>

<model>
    <name>peppersbox</name>
    <version>1.0</version>
    <sdf version='1.7'>model.sdf</sdf>

    <author>
        <name>Kevin Huang</name>
        <email>kevinh42@student.ubc.ca</email>
    </author>

    <description>
    Example box with image texture
  </description>
</model>