<?xml version="1.0"?>

<model>
    <name>cube</name>
    <version>1.0</version>
    <sdf version='1.7'>model.sdf</sdf>

    <author>
        <name>Logan Fillo</name>
        <email>logan.fillo@gmail.com</email>
    </author>

    <description>
    A cube with a ROS2 force plugin acting on it which reads
    from the topic /triton/gazebo_drivers/force
  </description>
</model>