<?xml version="1.0"?>

<model>
    <name>cube_thruster</name>
    <version>1.0</version>
    <sdf version='1.7'>model.sdf</sdf>

    <author>
        <name>Logan Fillo</name>
        <email>logan.fillo@gmail.com</email>
    </author>

    <description>
    A simple thrister model for the cube AUV
  </description>
</model>