<?xml version="1.0" ?>
<model>
    <name>gate</name>
    <version>1.0</version>
    <sdf version="1.7">model.sdf</sdf>
    <author>
        <name>Jake</name>
        <email>jcronin97@live.ca</email>
    </author>
    <description>Model of a gate used in RoboSub competitions</description>
</model>
