<?xml version="1.0" ?>
<robot name="cube_auv" xmlns:xacro="http://www.ros.org/wiki/xacro">
  <link name="base_link">
    <inertial>
        <origin rpy="0 0 0" xyz="0 0 0"/>
        <mass value="1"/>
        <inertia ixx="1.0" ixy="0.0" ixz="0.0" iyy="1.0" iyz="0.0" izz="1.0"/>
    </inertial>
    <visual name='base_link_visual'>
        <geometry>
          <box size="1 1 1"/>
        </geometry>
        <material name="yellow">
          <color rgba="1 1 0 1"/>
        </material>
    </visual>
    <collision name='base_link_collision'>
        <geometry>
            <box size="1 1 1"/>
        </geometry>
    </collision>
  </link>
  <gazebo>
      <include>
        <uri>model://cube_thruster</uri>
        <pose>-0.5 -0.5 0 0 1.5707 2.35619</pose>
        <name>thruster1</name>
    </include>
    <include>
        <uri>model://cube_thruster</uri>
        <pose>-0.5 0.5 0 0 -1.5707 0.785398</pose>
        <name>thruster2</name>
    </include>
    <include>
        <uri>model://cube_thruster</uri>
        <pose>0.5 0.5 0 0 1.5707 -0.785398</pose>
        <name>thruster3</name>
    </include>
    <include>
        <uri>model://cube_thruster</uri>
        <pose>0.5 -0.5 0 0 -1.5707 -2.35619</pose>
        <name>thruster4</name>
    </include>
    <include>
        <uri>model://cube_thruster</uri>
        <pose>0 -0.5 0 3.1415 3.1415 0</pose>
        <name>thruster5</name>
    </include>
    <include>
        <uri>model://cube_thruster</uri>
        <pose>0 0.5 0 3.1415 3.1415 3.1415</pose>
        <name>thruster6</name>
    </include>
    <joint name="thruster1_joint" type='fixed' >
      <parent>base_link</parent>
      <child>thruster1::thruster</child>
    </joint>
    <joint name="thruster2_joint" type='fixed' >
      <parent>base_link</parent>
      <child>thruster2::thruster</child>
    </joint>
    <joint name="thruster3_joint" type='fixed' >
        <parent>base_link</parent>
        <child>thruster3::thruster</child>
    </joint>
    <joint name="thruster4_joint" type='fixed' >
        <parent>base_link</parent>
        <child>thruster4::thruster</child>
    </joint>
    <joint name="thruster5_joint" type='fixed' >
        <parent>base_link</parent>
        <child>thruster5::thruster</child>
    </joint>
    <joint name="thruster6_joint" type='fixed' >
        <parent>base_link</parent>
        <child>thruster6::thruster</child>
    </joint>
    <plugin name="thruster_array" filename="libthruster_driver_plugin.so">
      <thruster_count>6</thruster_count>
      <ros>
          <namespace>/triton/controls</namespace>
          <remapping>output_forces</remapping>
      </ros>
    </plugin>
    <plugin name="ground_truth_sensor" filename="libground_truth_sensor.so">
      <state_topic>/triton/state</state_topic>
      <update_rate>50</update_rate>
    </plugin>
    <plugin name="p3d_base_controller" filename="libgazebo_ros_p3d.so">
      <always_on>true</always_on>
      <update_rate>50.0</update_rate>
      <body_name>base_link</body_name>
      <topic_name>/triton/state</topic_name>
      <gaussian_noise>0.01</gaussian_noise>
      <frame_name>map</frame_name>
      <xyz_offset>0 0 0</xyz_offset>
      <rpy_offset>0 0 0</rpy_offset>
    </plugin>
  </gazebo>
  <gazebo>
</gazebo>
  <gazebo reference="base_link">
    <material>Gazebo/Yellow</material>
    <turnGravityOff>1</turnGravityOff>
    <sensor type="camera" name="front_camera">
      <pose>0.5 0 0 0 0 0</pose>
      <update_rate>60</update_rate>
      <visualize>true</visualize>
      <camera name="front">
        <horizontal_fov>1.3962634</horizontal_fov>
        <image>
          <width>640</width>
          <height>480</height>
          <format>R8G8B8</format>
        </image>
        <clip>
          <near>0.02</near>
          <far>300</far>
        </clip>
        <noise>
          <type>gaussian</type>
          <mean>0.0</mean>
          <stddev>0.007</stddev>
        </noise>
      </camera>
      <plugin name="front_camera" filename="libgazebo_ros_camera.so">
        <ros>
          <namespace>/triton/drivers</namespace>
        </ros>
      </plugin>
    </sensor>
    <sensor type="camera" name="down_camera">
      <pose>0 0 -0.5 0 1.57 0</pose>
      <update_rate>60</update_rate>
      <visualize>true</visualize>
      <camera name="down">
        <horizontal_fov>1.3962634</horizontal_fov>
        <image>
          <width>640</width>
          <height>480</height>
          <format>R8G8B8</format>
        </image>
        <clip>
          <near>0.02</near>
          <far>300</far>
        </clip>
        <noise>
          <type>gaussian</type>
          <mean>0.0</mean>
          <stddev>0.007</stddev>
        </noise>
      </camera>
      <plugin name="down_camera" filename="libgazebo_ros_camera.so">
        <ros>
          <namespace>/triton/drivers</namespace>
        </ros>
      </plugin>
    </sensor>
    <sensor name="imu_sensor" type="imu">
      <always_on>true</always_on>
      <update_rate>100</update_rate>
      <visualize>true</visualize>
      <topic>imu</topic>
      <plugin filename="libgazebo_ros_imu_sensor.so" name="imu">
        <topicName>imu</topicName>
        <bodyName>imu_link</bodyName>
        <updateRateHZ>100.0</updateRateHZ>
        <gaussianNoise>0</gaussianNoise>
        <xyzOffset>0 0 0</xyzOffset>
        <rpyOffset>0 0 0</rpyOffset>
        <frameName>imu_link</frameName>
        <initialOrientationAsReference>false</initialOrientationAsReference>
        <ros>
          <namespace>/triton/drivers</namespace>
        </ros>
      </plugin>
      <pose>0 0 0 0 0 0</pose>
    </sensor>
    <!-- <plugin name="BuoyancyPlugin" filename="libBuoyancyPlugin.so">
      <link name="base_link">
        <center_of_volume>0 0 0</center_of_volume>
        <volume>1</volume>
      </link>
    </plugin> -->
  </gazebo> 
</robot>