<?xml version="1.0"?>

<model>
    <name>cube_auv</name>
    <version>1.0</version>
    <sdf version='1.7'>model.urdf</sdf>
    <author>
        <name>Logan Fillo</name>
        <email>logan.fillo@gmail.com</email>
    </author>

    <description>
    A simplified cube version of the AUV
  </description>
</model>