<?xml version="1.0" encoding="utf-8"?>
<!-- This URDF was automatically created by SolidWorks to URDF Exporter! Originally created by Stephen Brawner (brawner@gmail.com) 
     Commit Version: 1.5.1-0-g916b5db  Build Version: 1.5.7152.31018
     For more information, please see http://wiki.ros.org/sw_urdf_exporter -->
<robot
  name="T100-THRUSTER-SHELL">
  <link
    name="T100-THRUSTER-SHELL">
    <inertial>
      <origin
        xyz="3.9383E-05 -0.0049765 0.0092606"
        rpy="0 0 0" />
      <mass
        value="0.38044" />
      <inertia
        ixx="0.00039776"
        ixy="-1.3762E-07"
        ixz="-4.8314E-07"
        iyy="0.00040427"
        iyz="1.5933E-05"
        izz="0.00027739" />
    </inertial>
    <visual>
      <origin
        xyz="3.9383E-05 -0.0092606 0.0092606"
        rpy="1.5707963267949 0 0" />
      <geometry>
        <mesh
          filename="package://T100-THRUSTER-SHELL/meshes/T100-THRUSTER-SHELL.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.79216 0.81961 0.93333 1" />
        <texture
          filename="package://T100-THRUSTER-SHELL/textures/" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="3.9383E-05 -0.0092606 0.0092606"
        rpy="1.5707963267949 0 0" />
      <geometry>
        <mesh
          filename="package://T100-THRUSTER-SHELL/meshes/T100-THRUSTER-SHELL.STL" />
      </geometry>
    </collision>
  </link>
</robot>